<h1>ホーム画面</h1>
<%= link_to '管理者画面', home_kanri_path %>
<%= link_to 'ポイント状況', points_path %>
<%= link_to '図書レビュー', book_reviews_path %>
<%= link_to '質問広場', questions_path %>
<p>  <h2>あなたの現在のポイント数</h2>

