// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login{
    margin-top: 50px;
}
.top{
    background-color: orange;
    font-size: 20px;
    position:absolute;
    bottom: 300px;
    right: 10px;
}
.top2{
    position: absolute;
    font-size: 20px;
    bottom: 100px;
    right: 0px;
}
.top3{
    font-size: 20px;
    margin-top: 50px;
}
  