// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user{
    background-color: azure;
    width: 800px;
    height: 550px;
}
.user2{
    background-color: azure;
    text-align: center;
}
.user3{
    position: relative;
    top: 60px;
    left: 15px;
}